@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.btn-not-published {
  background-color: lightblue;
}


#fh5co-wireframe {
  padding-top: 7em;
  padding-bottom: 0;
}
#fh5co-about {
  padding: 0;
}

#fh5co-portfolio {
  padding: 0;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  h3 {
    text-align: left;
  }
}

.account-delete {
  display: block;
  padding-top: 1.5rem;
  text-align: right;
}
