= javascript_include_tag('jquery.min')
= javascript_include_tag('jquery.easing.1.3')
= javascript_include_tag('bootstrap.min')
= javascript_include_tag('jquery.waypoints.min')
= javascript_include_tag('jquery.flexslider-min')
= javascript_include_tag('main')

<!-- Custom -->
= javascript_include_tag('custom')
